@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&display=swap');
@font-face {
  font-family: 'CustomFont';
  src: local('CustomFont'), url('~/assets/Font/CustomFont.ttf') format('truetype');
}

@font-face {
  font-family: 'Sans Forgetica';
  src: local('SF'), url('~/assets/Font/SF.otf') format('opentype');
}

@font-face {
  font-family: 'Jetbrains';
  src: local('Jetbrains'), url('~/assets/Font/Jetbrains.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  scrollbar-color: #383838 #1b1b1b;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track-piece {
  background-color: #1b1b1b;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #383838;
}
